


body{
    background-color: black;
    background-image: linear-gradient(to right, rgb(174, 0, 255) , rgb(255, 0, 149));
margin: 0%;

}

.title{
    margin-top: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(226, 33, 162);
    font-family: "Sofia", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    
    font-size: 3rem;
    border-radius: 0px 0px 25px 25px; 
}
#top-bar{

    box-shadow: 0px 3px 30px #000000;
    border-radius: 0px 0px 25px 25px; 

}

#made-with-care{
position: absolute;
text-align: left;
margin-left: 5%;
margin-top: 0%;
font-size: 3rem;
color: rgb(255, 255, 255);
transition: 2s;
transition: transform .2s;
}




#made-with-care:hover{

    color: rgb(255, 162, 224);
transform: scale(1.2);

}

#front-page-buttons{
text-align: center;
color: rgb(255, 255, 255);
font-family: 'Montserrat', sans-serif;
font-weight: 50;
text-shadow: 0px 3px 15px  black;
font-size: 1.5rem;
margin-top: 15%;

}
#browse-collection{
    margin: auto;
    width: 26%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(238, 123, 199);
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 25px;
    transition: transform .2s;

}
#order-now{
    margin: auto;
    width: 20%;
    margin-top: 5%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(238, 123, 199);
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 25px;
    transition: transform .2s;
}

#browse-collection:hover{
background-color: blanchedalmond;
transform: scale(1.2);
cursor: default;

}
#order-now:hover{
    background-color: blanchedalmond;
    transform: scale(1.2);
    cursor: default;
    
    }

    @media screen and (max-width: 650px){
        
        #browse-collection{
            margin: auto;
            margin-top: 100%;
            width: 75%;
            border-style: solid;
            border-width: 5px;
            border-color: rgb(238, 123, 199);
            padding-top: 5%;
            padding-bottom: 5%;
            border-radius: 25px;
            transition: transform .2s;
        
        }
        #made-with-care{
            position: absolute;
            text-align: center;
            padding-top: 11%;
            font-size: 2rem;
            color: rgb(255, 255, 255);
            padding-left: 5%;
            padding-right: 5%;
            }
            #order-now{
                margin: auto;
                width: 70%;
                
                margin-top: 13%;
                border-style: solid;
                border-width: 5px;
                border-color: rgb(238, 123, 199);
                padding-top: 5%;
                padding-bottom: 5%;
                border-radius: 25px;
                transition: transform .2s;
            }
            
            

        
    }